body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color:#f5f5f5;
    min-width:400px;
}
.header-previous-arrow{
    position:absolute;
    padding:0 25px;
}
.header-previous-arrow > a{
    color:black;
}
:is(.header-previous-arrow > a):hover{
    background: -webkit-linear-gradient(#9356DC,#FF79DA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header{
    height:50px;
    line-height:50px;
    text-align:center;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    position:relative;
    z-index:1;
    background-color:white;
}
#logo{
    margin:10px 0;
}
/*Content*/
.menu_img-container{
    width:100%;
    height:300px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.menu_img{
    width:130%;
    height:auto;
    vertical-align:bottom;
}
.note-img-container > img{
    width:100%;
}
.menu_parent-container{
    background-color:#f5f5f5;
    padding:30px 0;
    border-radius:20px 20px 0 0;
    position:relative;
    top:-30px;
}
.menu-parent-container_title{
    margin:0;
    font-family: 'Shrikhand', cursive;
    font-size:25px;
    padding: 0 40px 0 15px;
    display:flex;
    justify-content:space-between;
    position:relative;
}
.heart-icon{
    vertical-align:top;
    font-size:25px;
    position:relative;
    background-color:#f5f5f5;
    transition:color 500ms, background-color 500ms;
    color:black;
}
.full-heart-icon{
    display:cell;
    vertical-align:middle;
    font-size:25px;
    background: -webkit-linear-gradient(#9356DC,#FF79DA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:absolute;
}

.heart_link:hover > .heart-icon{
    cursor:pointer;
    color:transparent;
    background-color:transparent;
}
.type-menu_container{
    padding: 0 15px;
    margin-bottom:25px;
}
.type-menu_title{
    font-size:18px;
    font-weight:200
}
.type-menu_title:after{
    content:"";
    display:block;
    width:35px;
    height:2px;
    background-color:#99E2D0;
    margin:3px 0 7px 0;
}
.menu_container{
    display:flex;
    flex-direction:column;
}
@keyframes slide_in_up{
    0%{
        top:20px;opacity:0;
    }
    100%{
        top:0;opacity:1;
    }
}
.menu_element{
    border-radius:20px;
    margin-bottom:15px;
    box-shadow:0 -5px 15px #e6e6e6;
    background-color:#99E2D0;
    position:relative;
    animation-name:slide_in_up;
    animation-duration:1s;
    animation-fill-mode:both;
    overflow:hidden;
    display:flex;
}
.menu-element_block{
    width:100%;
    background-color:white;
    display:flex;
    cursor:pointer;
    text-overflow:ellipsis;    
    overflow:hidden;
}
@keyframes roll_in{
    0%{transform: rotate(360deg)}
    100%{transform: rotate(0deg)}
}
.menu-element_validated-container{
    width:0;
    transition:width 500ms;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}
.menu-element_block:hover + div{
    width:100px !important;
    animation-name:roll_in;
    animation-duration:500ms;
    animation-play-state:running;
    overflow:hidden;
}
.menu_element2{
    animation-delay:200ms;
}
.menu_element3{
    animation-delay:400ms;
}
.menu-element_txt{
    padding:15px ;
    width:85%;
    overflow:hidden;
}
.menu_title{
    font-weight:bold;
    margin:0;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.menu_desc{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.menu-element_price{
    width:15%;
    padding:15px 15px 15px 0;
    box-sizing:border-box;
    display:flex;
    align-items:flex-end;
    font-weight:bold;
}

.check-circle{
    color:white;
}
.commander_container{
    text-align:center;
}
.commander_btn{
    background:linear-gradient(165deg, #FF79DA, #9356DC);
    padding:15px 40px;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-weight:bold;
}
.commander_btn:hover{
    background:linear-gradient(165deg, #ff8bde, #ab6bfa);
    box-shadow:0 0 5px rgba(111, 111, 111, 0.5);
}

/*Footer*/
footer{
    padding:20px;
    background-color:rgb(61, 61, 61);
    color:white;
}
.footer_logo{
    font-family: 'Shrikhand', cursive;
    font-size:25px;
    margin: 0 0 10px 0;
}
.footer_link{
    margin:0 0 10px 0;
    display:block;
    color:white;
    text-decoration:none;
}
.footer-icon{
    display:inline-block;
    margin:0 10px 0 0;
    width:20px;
    text-align:center
}
@media only screen and (min-width:769px){
    header{
        padding:10px 0;
    }
    main{
        display:flex;
    }
    .menu_img-container{
        height:100vh;
        overflow:hidden;
        display:block;
    }
    .note-img-container{
        flex-direction:column;
    }
    .menu_img-container > img{
        height:100%;
        width:auto;
    }
    .note-img-container > img{
        height:auto;
        width:100%;
    }
    .menu_parent-container{
        position:absolute;
        top:auto;
        right:0;
        height:100vh;
        width:40%;
        box-sizing:border-box;
        border-radius:20px 0 0 20px;
        overflow:scroll;
    }
    .menu_parent-container::-webkit-scrollbar{
        position:absolute;
        width:7px;
    }
    .menu_parent-container::-webkit-scrollbar-thumb{
        background-color:gray;
        border-radius:10px;
    }
  footer{
      text-align:center;
      padding:60px;
  }
    footer > div {
        display:flex;
        justify-content:center;
    }
    .footer_link{
        margin:0 20px;
    }
}
@media only screen and (min-width: 769px) and (max-width:1100px){
    .note-img-container > img{
        width:auto;
        height:100%;
    }
}